@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Syne:wght@400..800&display=swap');
@import "tailwindcss";

body {
  font-family: "Syne", sans-serif;
}

#right::-webkit-scrollbar{
  display: none;
}

.animated-grid {
  background-image: 
    linear-gradient(rgba(255,255,255,0.07) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.07) 1px, transparent 1px);
  background-size: 40px 40px;
  animation: moveGrid 20s linear infinite;
}

@keyframes moveGrid {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 40px;
  }
}
